# Database
DATABASE_URL="postgresql://postgres:changeme@db:5432/biznex_wm?schema=public"
PG_PASSWORD="changeme"

# NextAuth
NEXTAUTH_SECRET="change-this-to-a-random-secret"
NEXTAUTH_URL="http://localhost:3000"
